<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Все повышения квалификации</title>
</head>
<body>

    <div class="header">
        <a class="header" href="/departments">Подразделения</a> \
        <a class="header" href="/employees">Сотрудники</a> \
        <a class="header" href="/trainings">Повышения квалификации</a>
        <hr/>
    </div>

    <h3>Повышения квалификации</h3>

    <div th:each="training : ${trainings}">
        <a th:href="@{/trainings/{id}(id=${training.getId()})}"
           th:text="${training.getTitle() + ', ' + training.getOwner().getFullName()}">employees</a>
    </div>
    <br/>
    <hr/>

    <table>
        <tr>
            <th>
                <form action="/trainings/new">
                    <input type="submit" value="Добавить повышение квалификации">
                </form>
            </th>
            <th>
                <form action="/trainings/search">
                    <input type="submit" value="Поиск по ПК">
                </form>
            </th>
        </tr>
    </table>
</html>